<% content_for :header do %>

<div class='deck-selector'>
<% @decks_list.each_with_index do |(deck, cards), i| %>
  <input type='checkbox' name='deck' value="<%= deck.name %>" /><%= deck.name %>
<% end %>
</div>

<% end %>

<% content_for :content do %>
<div id='current-decks'>
  <% @decks_list.each_with_index do |(deck, cards), i| %>
  <% cards.each_with_index do |card, z| %>
  <div class="card <%= 'current-card' if (i == 0 and z == 0)  %>" data-deck="<%= deck.name %>">
    
    <div class='front'>
      <%= card.front %>
    </div>
    
    <div class='back is-hidden'>
      <%= card.back %>
    </div>
    
  </div>
  <% end %>
  <% end %>  
</div>
  <% end %>  
