<ul>
  <% @decks.each do |deck| %>
  <li><%= deck.name %></li>
    <ul>
      <% @cards.each_with_index do |card, i| %>
      <% if card.decks_id == deck.id %>
      <%= i %>
      <div class="card" data-deck="<%= deck.name %>">
	<div class="front">
	  <%= card.front %>
	</div>
	<div class="back is-hidden">
	  <%= card.back %>
	</div>
      </div>
      <% end %>
      <% end %>
    </ul>
  <% end %>
  </li>	
</ul>
