<% content_for :header do %>
<h1>New Card</h1>
<% end %>

<% content_for :content do %>
<form action="/new" method="post">
  <label for="front">Front:</label><br />
  <input id="front" name="cards[front]" type="text" value="<%= @card.front %>" />
  <br />

  <label for="back">Back:</label><br />
  <input id="back" name="cards[back]" type="text" value="<%= @card.back %>" />
  <br />

  <label for="deck_id">Deck:</label><br />
  <select id="cardSelection" name="cards[decks_id]" type="text">
    <% @decks.each do |deck| %>
    <option value="<%= deck.id.to_i %>"><%= deck.name %></option>
    <% end %>
  </select>

  <input type="submit" value="Create Card" />
  
  <% if @newCard %>
  <%= @newCard.front %>
  <%= @newCard.back %>
  <%= @decks[@newCard.decks_id - 1].name %>
  <% end %>
</form>   
<% end %>
